* {
  box-sizing: border-box;
  margin: 0;
}
body{
    background-color: black;
    /* padding: 0 96px ; */
    color: white;
    font-family: system-ui;
    max-width: 1955px;
    margin: auto;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.header {
    margin: 296px ;
  height: 48px;
  width: 587.43px;
   margin-left: auto; 
  margin-right: auto; 
 display: flex;  
 
}



.section__title{
    font-size: 56px;
    
}
.section{

    padding: 0 96px ;
}
.section__header{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    border-top: solid 2px #ffffff6b;
    border-bottom: solid 1px #FFFFFF33;
    height: 168px ;
}
.materials{
    padding: 49px 96px ;
    display: flex;
    justify-content: center;
    gap: 52px;
    font-size: 24px;

}
.content__text{
 padding: 28px 0;  
font-size: 24px;
}
.imgs_{
  width: 100%;
        height: auto;
}
.portfolio{
    padding: 80px 96px;
         display: flex;
    justify-content: space-between;
    gap: 48px;
    padding-bottom: 296px;
}
.portfolio__caption{
    font-size: 24px;
padding: 36px 0;
}

.portfolio__image{
     width: 600px;
    height: 448px;
}
.services{
    display: flex;
    justify-content: space-between;
    padding: 0 96px;
    gap: 48px;
    font-size: 24px;
    padding-top: 80px;
    padding-bottom: 272px;
}
.services_div1{
    width: 800px;
}
.services_div2{
    width: 500px;
}
.footer__brand{
    color: red;
}
.experts__image{
width: 386.2069091796875px;
height: 448px;
}
.experts__bio{
    font-size: 24px;
padding: 48px 0;

}
.content{
        display: flex;
    
        justify-content: center;
        gap: 52px;
        padding: 119px 96px;
    }
.a{
    padding-top: 80px;
}
.experts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 267px;
    padding: 0 96px;
    padding-top: 80px;
}
.footer{
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 96px;
    padding-bottom: 130px;
}
.footer__divider{
    border: solid 1px gray;
    margin: 0 96px;
    margin-bottom: 73px;
    margin-top: 152px;
}
.none_{
    display: none;
}
.content--hidden{
  animation: close 0.5s forwards;
}
.materials__item{
    padding: 28px 0;
}




@media (max-width:1000px){
    .portfolio__image{
        width: 100%;
    height: auto;
    }
}
@media (max-width:900px){
    .header{
        margin: 66px auto;
        /* padding: 60px; */
    }
    .experts{
       flex-wrap: wrap;
       width: 100% ;
    }
    .experts__image{
        width: 100%;
        height: 100%;
    }

    .materials , .services{
    font-size: 20px;
        padding: 49px 60px ;
    }
    .section{
        padding: 0 56px ;
    }
    .section__header{
    height: 108px ;
    }
    .fs_element{
        font-size: 36px;
    }
    
}
@media (max-width:800px){
.portfolio{
    flex-wrap: wrap;
    align-items: center;
}
.imgs_{
    width: 600px;
    height: 448px;
}
 .portfolio__image{
        width: 800px; 
    }
    .content, .services , .experts , .materials{
        flex-wrap: wrap;
    }
    .content__text {
        width: 100%;
        font-size: 18px;
    }
    .section__title{
        font-size: 25px;
    }
}
@media (max-width:720px){
    .content, .services , .experts , .materials , .portfolio , .section{
        padding: 25px;
    }
    .footer{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    .header{
        margin: 66px auto;
        width: 450px;
    }
       .content , .services{
    font-size: 18px;
    }
    .fs_element{
        font-size: 20px;
    }
    
    .footer__contact   {
        padding: 0 36px;
        font-size: 20px;
    }
    .footer__divider{
        margin: 0 36px;
    margin-bottom: 73px;


    }


}
@media (max-width:550px){
    .section{
        padding: 36px;
    }
    .section__header{
        height: 86px;
    }
     .dis_____{
    font-size: 15px;
    padding: 36px;
    }
    .dis_____{
        flex-wrap: wrap;
        width: 100%;
    }
    .experts{
        padding: 0 36px;
    }
    .experts__bio{
        font-size: 16px;
    }
    .materials{
        flex-wrap: wrap;
        font-size: 12px;
    }
    .materials__item{
        width: 100%;
    }
}
@media (max-width:650px){
    .portfolio{
        padding: 36px;
    }
   
    
}
@media (max-width:450px){
    .section{
        padding: 5px;
    }
    .section__header{
        height: 80px;
    }
    .materials{
    padding: 25px;
    }
    .portfolio{
        padding: 25px;
        width: 100%;
    }
    .header{
        width: 300px;
        height: auto;
    }
    .footer{
        flex-wrap: wrap;
        text-align: center;
    }
    .text--highlight{
        width: 100%;
        padding: 15px 0;
    }
    .footer__divider{
        margin: 0;
        width: 100%;
    }
  
    
}
